<div class="blog-main box text-center" id="post_<%= post.id %>">
  
  <div class="panel panel-info">
    
    <div class="panel-heading">
      <div class="row">
        <div class="col-md-9">
          <h3 class="panel-title"><%= post.title %></h3>
        </div>
        <div class="col-md-3">
          <small><%= time_ago_in_words(post.created_at) %> ago</small>
        </div>
      </div>
    </div>

    <div class="panel-body">
      <div class="row">
        <div class="col-md-9">
          <p><%= post.content %></p>
        </div>
        <div class="btn-group col-md-3" role="group" aria-label:"...">
          <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myupdatepost_<%= post.id %>">Edit</button>
          <%= link_to 'Destroy', post, method: :delete, class: "btn btn-default", remote: true %>
        </div>
      </div>
    </div>

  </div>

  <!-- Modal -->
  <%= form_for(post, method: :put, remote: true) do |f| %>
    <div class="modal fade" id="myupdatepost_<%= post.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Edit</h4>
          </div>
          <div class="modal-body">
            <div class="field">
              <%= f.label :title %><br>
              <%= f.text_field :title, class: "form-control post_title" %>
            </div>
            <div class="field">
              <%= f.label :content %><br>
              <%= f.text_area :content, class: "form-control post_content" %>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" id="myupdatebutton_<%= post.id %>" class="btn btn-default" data-dismiss="modal">Close</button>
            <%= submit_tag "Update", class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

</div>