<div class="row">
  <div class="container col-md-4">
    <div class="row">
      <div class="well avatar_well">
        <img><%= image_tag(current_user.avatar.resized.url, class: "avatar") %></img> 
      </div>
      <div>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#updateavatar">
          Update Avatar
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-1">
  </div>
  <div class="container col-md-7">
    <div class="row">
      <div class="container col-md-4">
        <div class="text-center new_post_button">
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-success" data-toggle="modal" data-target="#mynewpost">
            New Post
          </button>
        </div>
      </div>
      <div class="container col-md-8">
        <div class="search_bar">
          <%= form_tag posts_path, method: 'get' do %>
          <%= text_field_tag :search, params[:search] %>
            <%= submit_tag "Search"%>
          <% end %>
        </div>
      </div>
    </div>
    <hr/>
    <div class="row" id="container_posts">
      <%= render @posts %>
    </div>
    <!-- Modal for new avatar -->
    <%= form_for(current_user, :url => update_avatar_user_path) do |f| %>
      <div class="modal fade" id="updateavatar" tabindex="-1" role="dialog" aria-labelledby="update_avatar_modal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="update_avatar_modal">Avatar</h4>
            </div>
            <div class="modal-body">
              <div class="field">
                <%= f.label :avatar %><br>
                <%= f.file_field :avatar, class: "form-control post_title" %>
                <%= f.hidden_field :avatar_cache %>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <%= submit_tag "Update", class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <!-- Modal for new post -->
    <%= form_for(@post, remote: true, authenticity_token: true, html: { multipart: true }) do |f| %>
      <div class="modal fade" id="mynewpost" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Post</h4>
            </div>
            <div class="modal-body">
              <div class="field">
                <%= f.label :title %><br>
                <%= f.text_area :title, class: "form-control post_title" %>
              </div>
              <div class="field">
                <%= f.label :content %><br>
                <%= f.text_area :content, class: "form-control post_content" %>
              </div>
              <div class="field">
                <%= f.label :image %><br>
                <%= f.file_field :image %>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <%= submit_tag "Create", class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
